*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    display:flex;
    justify-content: center;
    width:100%;
    background-color:#ffffff;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    max-width:1600px;
    height:92px;
    padding:0px 120px;
    
}

.nav-links{
    display:flex;
    list-style:none;
    gap:32px;
    
}

.nav-links a{
  text-decoration:none;
  font-weight:500;
  color:#000000;
}

.btn{
    width:164px;
    height:44px;
    color:white;
    padding:12px 16px;
    gap:10px;
    border:none;
    border-radius:4px;
    background-color:#469165;
    cursor:pointer;
}



