*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    display:flex;
    justify-content: center;
    width:100%;
    background-color:#ffffff;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    max-width:1600px;
    height:92px;
    padding:0px 120px;
    
}

.nav-links{
    display:flex;
    list-style:none;
    gap:32px;
    
}

.nav-links a{
  text-decoration:none;
  font-weight:500;
  color:#000000;
}

.btn{
    align-items:center;
    justify-content:center;
    font-weight:bold;
    width:220px;
    height:44px;
    color:white;
    padding:12px 16px;
    gap:10px;
    border:none;
    border-radius:4px;
    background-color:#469165;
    cursor:pointer;
}


#hero{
    display:flex;
    position:relative;
    width:100%;
    min-height:100vh;
    padding:0 20px;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:#ffffff;
}

#hero .background-img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    object-fit:cover;
    filter:brightness(0.9);
}

.hero-heading {
    display:flex;
    justify-content:center;
    margin-bottom:16px;
}

.hero-heading h6{
    color:#276761;
    background-color:#ffffff;
    border-radius:1000px;
    padding:8px 12px;
    font-weight:bold;
    display:inline-block;
    cursor: pointer;
}

.hero-middle{
    max-width:1360px;
    display:flex;
    align-items:center;
    gap:20px;
    flex-direction:column;
}


.hero-middle h1{
    font-size:3.5em;
    margin:0;
    font-weight:700px;
    line-height:84px;
    max-width:900px;
    text-align:center;
    color:#ffffff;
}

.hero-middle p{
    max-width: 520px;
    margin:0 auto 32px;
    font-size:1em;
    line-height:24px;
    opacity:0.9;
    color:#ffffff;
    margin-bottom:10px;
}

.button-group{
    display:flex;
    justify-content:center;
    gap:16px;
}

.hero-middle .white-btn{
    display:flex;
    align-items:center;
    justify-content: center;
     width:220px;
    height:44px;
    color:white;
    background:transparent;
    padding:12px 16px;
    border:1px solid#ffffff;
    border-radius:4px;
    cursor:pointer;
}


.note-container{
    text-align:center;
    padding:80px 20px;
    background-color:#ffffff;
}
.note-container header{
    font-size:42px;
    font-weight:700;
    margin-bottom:16px;
    color:#001931;
}

.note-container p{
    font-size: 14px;
    line-height:20px;
    margin:0 auto;
    color:#627382;
}

#card .card-box{
    display:flex;
    justify-content:center;
    align-items:stretch;
    gap:24px;
    margin:80px auto;
    max-width:1360px;
}

.box-note{
    max-width: 600px;
    flex-direction: column;
    display:flex;
    align-items:center;
    text-align:center;
    padding:40px 24px;
    border-radius:8px;
    box-shadow:0px 10px 20px rgba(0, 0, 0, 0.1);
}
.box-note img{
    width:60px;
    height:60px;
    border-radius:50%;
    padding:16px;
    margin-bottom:20px;
    background-color:#F95555;
}

.box-note h3{
    font-size:24px;
    margin-bottom:12px;
    color:#001931;
    
}

.box-note p{
    font-size:16px;
    color:#627382;
    line-height:20px;
}

#frame{
    display:flex;
    justify-content:center;
    padding:80px 0;
    background-color:#ffffff;
}
.frame-container{
    display:flex;
    align-items:center;
    max-width:1200px;
    gap:40px;
}

.image{
    display:flex;
    justify-content: center;
}


.image img{
    width:100%px;
    max-width:500px;
}


.content{
    flex:1;
}

.brain-detail h6 {
    font-size: 12px;
    color: #469165;
    margin-bottom: 6px;
}


.brain-detail h1 {
    font-size: 48px;
    color: #001931;
    line-height: 100%;
    margin-bottom: 20px;
    font-weight: 700;
}

.brain-detail p {
    font-size: 16px;
    color: #627382;
    line-height:20px;
    margin-bottom: 30px;
}


.list ul{
    list-style:none;
    padding:0;
}


.list li{
    font-size: 16px;
    color: #001931;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}


